body{
	margin:0px auto;
	width: 100%;
	background: #f5f5f5;
	-webkit-font-smoothing: antialiased;
	font-family: "微软雅黑";
}
.order1{
	margin: auto;
	text-align: center;
	width: 85%;
}

.titles{
	background: #f5f5f5;
	text-align: left;
}
.titles h4{
	background: white;
	padding: 10px;
}
.order1_1{
	background: white;
}
.order1_1_1{
	padding: 15px;
	text-align: left;
}
.order1_1_1 ul{
	list-style-type: none;
	padding-top: 20px;
	display: inline;
	margin-left: 0px;
}

.order1_1_1 li{
	margin-right: 20px;
	font-size: 15px;
	display:inline;
}
.order1_1_2{
		display: inline;
		margin-right: 5%;
		float: right;
}
.order1_1_2 input[type=text]{
	margin-right: -6px;
}
.order1_1_2 input[type=button]{
	height: 25px;
	background: #F9F9F9;
	border: 1px solid #ddd;
	background: #f7f7f7;
	margin-right: -6px;
}
.order1_1_3_1{
	margin: auto;
	margin-top: 20px;
	width: 95%;
	background: #f5f5f5;
	padding: 8px;
    color: #666;
}
.order1_1_3_1 select{
	border: none;
	background: #f5f5f5;
}
.order1_1_3_1 p{
	display: inline;
}
.order1_1_3_1pSort{
	display: inline;
	margin-left: 35%;
	
}
.order1_1_3_1pSort p{
	margin: 30px;
}

.order1_1_3_2{
	margin: auto;
	margin-top: 20px;
	width: 95%;
	padding: 8px;
    color: #666;
}
.order1_1_3_2_1{
	background: #f5f5f5;
	padding: 10px;
}
.order1_1_3_2_1 p{
	display: inline;
	margin-right: 40px;
}
.order1_1_3_2_1 img{
	margin: 5px;
	float: right;
	width: 1.2%;
}
table{
		width: 95%;
		margin: auto;
		margin-top: 20px;
		text-align: center;
		border-collapse: collapse;
		border: 1px solid #e5e5e5;
	}
table tr td{
	overflow：hidden;
	font-size: 12px;
	padding: 10px;
	border: 1px solid #e5e5e5;
	word-break: break-all;
}
th{
    background: #f5f5f5;
    font-size: 12px;
    padding: 10px;
}
.t1{
	height: 200px;
}
.page{
	margin: 30px;
	float: right;
}
.page p{
	display: inline;
}
.page input[type=button]{
	height: 35px;
	width: 60px;
	border: 1px;
	border-radius: 5px;
}
.tables select{
	float: left;
	background:#f5f5f5;
	border: none;
}
