.div_3det1{
	text-align: left;
	background: #fff;
	margin-bottom: 30px;
	padding: 5px;
}
.div_3det1_1 p{
	display: inline-block;
}
.div_3det1_2 {
	text-align: right;
	padding: 10px;
}
.div_3det1_3{
	margin: 0px;
}
.div_3det1_3 p{
	margin: 5px;
	display: inline-block;
}