<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mbp.dao.ProductInfoMapper">

  <!--商品类的映射关系-->
  <resultMap id="BaseResultMap" type="com.mbp.entity.ProductInfo">
    <id column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="model_id" jdbcType="INTEGER" property="modelId" />
    <result column="product_image" jdbcType="VARCHAR" property="productImage" />
    <result column="product_info" jdbcType="VARCHAR" property="productInfo" />
    <result column="product_status" jdbcType="INTEGER" property="productStatus" />
    <result column="product_sale_num" jdbcType="INTEGER" property="productSaleNum" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />

    <!--Model一对一映射-->
    <association property="model" javaType="com.mbp.entity.Model">
      <!--
      column:数据库字段
      property：与实体类必须一致
      -->
      <id column="model_id" jdbcType="INTEGER" property="modelId" />
      <result column="model_type" jdbcType="VARCHAR" property="modelType" />
      <result column="brand_id" jdbcType="INTEGER" property="brandId" />
      <result column="delete_flag" jdbcType="INTEGER" property="deleteFlag" />
      <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    </association>

    <!--Stock一对一映射-->
    <association property="stock" javaType="com.mbp.entity.Stock">
      <result column="stock_number" jdbcType="INTEGER" property="stockNumber" />
      <result column="model_id" jdbcType="INTEGER" property="modelId" />
      <result column="color_id" jdbcType="INTEGER" property="colorId" />
      <result column="store_id" jdbcType="INTEGER" property="storeId" />
      <result column="product_price" jdbcType="DECIMAL" property="productPrice" />
      <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    </association>

    <!--活动一对一映射-->
    <association property="activityDiscountProduct" javaType="com.mbp.entity.ActivityDiscountProduct">
      <result column="produc_id" jdbcType="INTEGER" property="producId" />
      <result column="activity_discount_id" jdbcType="INTEGER" property="activityDiscountId" />
    </association>

    <association property="activityReduceProduct" javaType="com.mbp.entity.ActivityReduceProduct">
      <result column="produc_id" jdbcType="INTEGER" property="producId" />
      <result column="activity_reduce_id" jdbcType="INTEGER" property="activityReduceId" />
    </association>


  </resultMap>

  <!--一条可以插入使用的sql-->
  <sql id="Base_Column_List">
    product_id, product_name, model_id, product_image, product_info, product_status,
    product_sale_num, create_time
  </sql>

  <!--根据id查询-->
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from product_info
    where product_id = #{productId,jdbcType=INTEGER}
  </select>


  <!--查询热销手机单品-->
  <select id="selectProductInfoByProductSaleNum" resultMap="BaseResultMap">
    SELECT
        pri.product_image,
        st.product_price,
        mo.model_type,
        arp.*,
        adp.*
    FROM
        product_info pri
      INNER JOIN model mo ON mo.model_id=pri.model_id
      INNER JOIN stock st ON st.model_id=mo.model_id
        left JOIN activity_reduce_product arp ON arp.produc_id=pri.product_id
        left JOIN activity_discount_product adp ON adp.produc_id=product_id
    ORDER BY
        pri.product_sale_num DESC
        LIMIT 0,5
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Dec 25 17:55:57 CST 2019.
    -->
    delete from product_info
    where product_id = #{productId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mbp.entity.ProductInfo">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Dec 25 17:55:57 CST 2019.
    -->
    insert into product_info (product_id, product_name, model_id, 
      product_image, product_info, product_status, 
      product_sale_num, create_time)
    values (#{productId,jdbcType=INTEGER}, #{productName,jdbcType=VARCHAR}, #{modelId,jdbcType=INTEGER}, 
      #{productImage,jdbcType=VARCHAR}, #{productInfo,jdbcType=VARCHAR}, #{productStatus,jdbcType=INTEGER}, 
      #{productSaleNum,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.mbp.entity.ProductInfo">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Dec 25 17:55:57 CST 2019.
    -->
    insert into product_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="productId != null">
        product_id,
      </if>
      <if test="productName != null">
        product_name,
      </if>
      <if test="modelId != null">
        model_id,
      </if>
      <if test="productImage != null">
        product_image,
      </if>
      <if test="productInfo != null">
        product_info,
      </if>
      <if test="productStatus != null">
        product_status,
      </if>
      <if test="productSaleNum != null">
        product_sale_num,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="productId != null">
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="productName != null">
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="modelId != null">
        #{modelId,jdbcType=INTEGER},
      </if>
      <if test="productImage != null">
        #{productImage,jdbcType=VARCHAR},
      </if>
      <if test="productInfo != null">
        #{productInfo,jdbcType=VARCHAR},
      </if>
      <if test="productStatus != null">
        #{productStatus,jdbcType=INTEGER},
      </if>
      <if test="productSaleNum != null">
        #{productSaleNum,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mbp.entity.ProductInfo">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Dec 25 17:55:57 CST 2019.
    -->
    update product_info
    <set>
      <if test="productName != null">
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="modelId != null">
        model_id = #{modelId,jdbcType=INTEGER},
      </if>
      <if test="productImage != null">
        product_image = #{productImage,jdbcType=VARCHAR},
      </if>
      <if test="productInfo != null">
        product_info = #{productInfo,jdbcType=VARCHAR},
      </if>
      <if test="productStatus != null">
        product_status = #{productStatus,jdbcType=INTEGER},
      </if>
      <if test="productSaleNum != null">
        product_sale_num = #{productSaleNum,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where product_id = #{productId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mbp.entity.ProductInfo">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Dec 25 17:55:57 CST 2019.
    -->
    update product_info
    set product_name = #{productName,jdbcType=VARCHAR},
      model_id = #{modelId,jdbcType=INTEGER},
      product_image = #{productImage,jdbcType=VARCHAR},
      product_info = #{productInfo,jdbcType=VARCHAR},
      product_status = #{productStatus,jdbcType=INTEGER},
      product_sale_num = #{productSaleNum,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where product_id = #{productId,jdbcType=INTEGER}
  </update>
</mapper>